.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.area-texto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container-txt{
  height: 100%;
  width: 70%;
  padding: 20px;
  border: 1px solid #E9ECEF;
  /* word-wrap: break-word; */
  /* display: flex;
  flex-wrap: nowrap; */
  display: flex;
  justify-content: space-between;
}

.texto{
  width: 80%;
  word-wrap: break-word;
  font-weight: 300;
  font-size: 20px;
}

.area-icons{
  display: flex;
  align-items: center;
  gap: 25px;
}

.icones{
  font-size: 22px;
}

.icones:hover{
  cursor: pointer;
}

.icon-fechar{
  color: red;
}

.txt-nenhuma-tarefa{
  text-align: center;
}

.modal{
  width: 100%;
  position: fixed;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

#itens-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#itens-edit h3{
  font-weight: 300;
  font-size: 32px;
}

#box-task-edit{
  font-weight: 300;
  font-size: 19px;
  width: 50%;
  height: 200px;
  resize: none;
  margin-top: 20px; 
  padding: 5px; 
}

#btn-salvar-edicao{
  width: 130px;
  height: 45px;
  margin-top: 20px;
  background-color: #111;
  color: #fff;
  border: none;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.3s;
}

#btn-salvar-edicao:hover{
  cursor: pointer;
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
}

#fechar-modal{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

#fechar-modal i{
  font-size: 25px;
}

#fechar-modal i:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.alert{
  width: 50%;
  padding: 15px;
  background-color: #90EE90;
  margin-top: 20px;
  border-radius: 10px;

  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
}
